version: '3.9'

services:
  web:
    image: helkein-site:latest
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - media_data:/app/media
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=dev.helkein.com.br,localhost,127.0.0.1
    networks:
      - network_public
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        traefik.enable: "true"
        traefik.http.routers.helkein.rule: "Host(`dev.helkein.com.br`)"
        traefik.http.routers.helkein.entrypoints: "websecure"
        traefik.http.routers.helkein.tls.certresolver: "letsencryptresolver"
        traefik.http.services.helkein.loadbalancer.server.port: "8000"
        traefik.http.routers.helkein.service: "helkein"

volumes:
  media_data:

networks:
  network_public:
    external: true
